* {
  box-sizing: border-box;
}

body {
  background: @primaryBodyBackgroundColor;
  color: @primaryBodyTextColor;
  font-size: 12px;
}

button {
  display: inline-block;
  width: 100%;
  background: @primaryBtnBGColor;
  color: @primaryBtnTxtColor;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

a {
  color: white;
}

input {
  cursor: pointer;
}

form {
  &.form-block {
    label {
      display: block;
      &+textarea {
        display: block;
        width: 100%;
      }
      &+input {
        &:not([type=radio]):not([type=checkbox]) {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.lds-dual-ring {
  display: inline-block;
  //width: 80px;
  //height: 80px;
  width: 20px;
  height: 20px;
  margin: -4px 4px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  //width: 64px;
  //height: 64px;
  //margin: 8px;
  //border: 6px solid #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

