@materialGreyDark: #000a12;
@materialGreyPrimary: #263238;
@materialGreyLight: #4f5b62;

@primaryBodyBackgroundColor: @materialGreyDark;
@primaryBodyTextColor: #FFFFFF;

@primaryBtnBGColor: @materialGreyPrimary;
@primaryBtnTxtColor: @primaryBodyTextColor;
