@import "assets/less/variables.less";

.popup-container {
  width: 500px;
  .expandable-container {
    &.fix-versions {
      summary {
        &::before {
          content: 'Fix versions updater (coming soon 😉)';
        }
      }
    }
    &.sub-tasks-status {
      summary {
        &::before {
          content: 'Sub-tasks';
        }
      }
      .get-subtasks-btn {
        height: 36px;
      }
    }
    &:not(:first-of-type) {
      margin-top: 8px;
    }
    summary {
      &::marker {
        //content: '🧡 ';
        //font-family: system-ui;
      }
      &::before {
        display: inline-block;
        width: ~'calc(100% - 38px)';
        padding: 0.5rem 0.75rem;
        background: @primaryBtnBGColor;
        color: @primaryBtnTxtColor;
        cursor: pointer;
      }
    }
    button {
      margin-top: 8px;
    }
  }
  .issue-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    &:first-of-type {
      border-top: 1px solid #FFFFFF;
    }
    .key {
      width: 55px;
    }
    .summary {
      flex-grow: 1;
      max-width: ~"calc(100% - 95px)";
    }
    .assignee {
      width: 30px;
      .avatar {
        width: 100%;
      }
    }
  }
  .log-bar {
    max-width: 100%;
    max-height: 100px;
    overflow: auto;
  }
  .quick-tools-heading {
    margin-bottom: 8px;
  }
  .quick-tools {
    display: flex;
    margin: 0 -4px;
    > .quick-tool-btn {
      width: 50%;
      margin: 0 4px;
    }
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
