.loader {
  margin: 24px auto auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
  &.show {
    display: block;
  }
}
